* {
    font-family: sans-serif;
    font-size: 14px;
}

html, body {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    background-color: #222;
}

canvas {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}

#status {
    position: absolute;
    padding: 10px; background: rgba(0, 0, 0, 0.7);
    color: #FFF; font-size: 20px;
    top: 0; right: 0;
    text-align: right;
}

.chatbox {
    position: absolute;
    width: 300px; height: 160px;
    background: rgba(255, 255, 255, 0.7);
    bottom: 5px; left: 5px;
    border-radius: 5px;
    pointer-events: none;
}

.chatbox .chat-list {
    padding: 5px; margin: 0;
    list-style: none;
    box-sizing: border-box;
    height: 125px; overflow: hidden;
}

.chatbox .chat-list li {
    padding: 2px; margin: 3px;
}

.chatbox .chat-list li.me b {
    color: #ea6153;
}

.chatbox .chat-list li.friend b {
    color: #2ecc71;
}

.chatbox .chat-list li.system {
    color: #9b59b6;
    font-style: italic;
}

.chatbox .chat-list li.system:before {
    content: "» ";
}

.chatbox .chat-input {
    pointer-events: all;
    box-sizing:border-box;
    width:100%;
    padding:8px;
    background: transparent;
    border: none;
    border-top: 1px solid #DDD;
    outline: none;
}

#startMenu {
    margin:auto;
    margin-top:100px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background-color: white;
}

#startMenu p {
    padding-top:20px;
    text-align:center;
    font-size: x-large;
}

#playerNameInput {
    margin-left: 50px;
    width: 184px;
    text-align: center;
    padding: 7px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

#playerNameInput:focus, #playerNameInput.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#startButton {
  position: relative;
  margin: auto;
  margin-left: 50px;
  margin-top: 10px;
  width: 200px;
  height: 60px;
  padding: 0;
  font-size: large;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ecc71;
  border: 0;
  border-bottom: 2px solid #28be68;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;
}

#startButton:active, #startButton:hover {
  top: 1px;
  background: #55D88B;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
